<h1>Login</h1>

<form action="/login" method="POST">
    <label for="username"> Username:
        <input type="text" id="username" name="username" placeholder="Usename">
    </label>
    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}
    <br>
    <br>
    <label for="pwd"> Password:
        <input type="password" id="pwd" name="password" placeholder="********">
    </label>
    {{#if errMsgPwd}}
        <p>{{errMsgPwd}}</p>
    {{/if}}
    <br>
    <br>
    <button type="submit">Login</button>
</form>