<h1>Sign up</h1>

<form action="/signup" method="post">
    <label for="username"> Username:
        <input type="text" id="username" name="username" placeholder="Usename">
    </label>
    {{#if err}}
        <p>{{err}}</p>
    {{/if}}
    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}
    <br>
    <br>
    <label for="name"> Name:
        <input type="text" id="name" name="name" placeholder="Name">
    </label>
    <br>
    <br>
    <label for="pwd"> Password:
        <input type="password" id="pwd" name="password" placeholder="********">
    </label>
    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}
    <br>
    <br>
    <button type="submit">Sign up</button>
</form>