<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <button><a href="/">Home</a></button>
      <button><a href="/signup">Sign up</a></button>
      <button><a href="/login">Login</a></button>
      <button><a href="/profile">My profile</a></button>
      <button><a href="/main">Main</a></button>
      <button><a href="/private">Private</a></button>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>